name: dotnet package

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ci # global group
  cancel-in-progress: false # let them run
  # this will disable CI parellelism
  # TODO: refactor use of test users to allow running in parallel

jobs:
  test:
    permissions:
      contents: read
      actions: read
      checks: write
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
      - name: Setup dotnet
        uses: actions/setup-dotnet@67a3573c9a986a3f9c594539f4ab511d57bb3ce9 # v4.3.1
        with:
          dotnet-version: |
            6.x.x
            8.x.x
            9.x.x
            10.x.x
      - name: Install dependencies
        run: dotnet restore --locked-mode
      - name: Build with dotnet
        run: dotnet build --no-restore --configuration Release
      - name: Test with dotnet
        timeout-minutes: 5
        env:
          AppSettings__ProjectId: ${{ secrets.DOT_NET_PROJECT_ID }}
          AppSettings__ManagementKey: ${{ secrets.DOT_NET_MANAGEMENT_KEY_ID }}
        run: dotnet test --no-build --configuration Release --logger "trx;LogFileName=test-results.trx" --results-directory "TestResults" --blame --blame-hang --blame-hang-timeout 1min

      - name: Upload dotnet test results
        if: always()
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: dotnet-results
          path: TestResults
      - name: Post test results to GitHub
        uses: dorny/test-reporter@dc3a92680fcc15842eef52e8c4606ea7ce6bd3f3 # v2.1.1
        if: always()
        with:
          name: .NET Tests
          path: 'TestResults/**/test-results.trx'
          reporter: dotnet-trx
