name: dotnet package

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ci # global group
  cancel-in-progress: false # let them run
  # this will disable CI parellelism
  # TODO: refactor use of test users to allow running in parallel

jobs:
  test:
    permissions:
      contents: read
      actions: read
      checks: write
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Setup dotnet
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          dotnet-version: |
            6.x.x
            8.x.x
            9.x.x
            10.x.x
      - name: Install dependencies
        run: dotnet restore --locked-mode
      - name: Build with dotnet
        run: dotnet build --no-restore --configuration Release
      - name: Test with dotnet
        timeout-minutes: 10
        env:
          AppSettings__ProjectId: ${{ secrets.DOT_NET_PROJECT_ID }}
          AppSettings__ManagementKey: ${{ secrets.DOT_NET_MANAGEMENT_KEY_ID }}
        run: dotnet test --no-build --configuration Release --logger trx --results-directory "TestResults" --blame --blame-hang --blame-hang-timeout 1min --diag "TestResults/vstest_diagnostics.log"

      - name: Upload dotnet test results
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: dotnet-results
          path: TestResults
      - name: Post test results to GitHub
        uses: dorny/test-reporter@b082adf0eced0765477756c2a610396589b8c637 # v2.5.0
        if: always()
        with:
          name: .NET Tests
          path: TestResults/**/*.trx
          reporter: dotnet-trx
