name: Upload dotnet package

on:
  release:
    types: [created]
  push:
    tags:
      - "0.*.*"

env:
  PACKAGE_NAME: Descope
  RELEASE_VERSION: ${{ github.event.release.tag_name || github.ref_name }}

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - uses: actions/setup-dotnet@67a3573c9a986a3f9c594539f4ab511d57bb3ce9 # v4.3.1
        with:
          source-url: https://nuget.pkg.github.com/${{github.repository_owner}}/index.json
        env:
          NUGET_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - run: dotnet build --configuration Release ${{ env.PACKAGE_NAME }}
      - name: Create the package
        run: dotnet pack --configuration Release ${{ env.PACKAGE_NAME }}
      - name: Publish the package to GPR
        run: dotnet nuget push ${{ env.PACKAGE_NAME }}/bin/Release/*.nupkg
      - name: Publish the package to NuGet.org
        run: dotnet nuget push -k ${{ secrets.NUGET_ORG_KEY }} -s https://api.nuget.org/v3/index.json ${{ env.PACKAGE_NAME }}/bin/Release/*.nupkg
